form action="/register" method="post" 
    input type="text" name="player_name" placeholder="USERNAME"
    input type="password" name="password" placeholder="PASSWORD"
    input type="submit" value="submit"

    