*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin:0px;
    font-size:100%;
    background-color: rgb(46, 45, 66);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:var(--darkgray-color);
}

.title {
    background:white;
    text-align: center;
    height: 80px;
    padding-top: 18px;
}